==
<div class="section wave_two_section_two">
            <div id="particles-js" class="p_absoulte"></div>
            <img class="t_two p_absoulte" src="{{ 'assets/img/home_one/triangle_shap_two.png'|theme }}" alt="">
            <img class="t_shap p_absoulte" src="{{ 'assets/img/home_three/shap.png'|theme }}" alt="">
            <img class="b_shap p_absoulte" src="{{ 'assets/img/home_three/shap_two.png'|theme }}" alt="">
            <img class="dot_one p_absoulte" src="{{ 'assets/img/home_three/dot.png'|theme }}" alt="">
            <img class="dot_two p_absoulte" src="{{ 'assets/img/home_three/dot-1.png'|theme }}" alt="">
            <div class="text">Quemari</div>
            <div class="s_round r_one p_absoulte"></div>
            <div class="s_round r_two p_absoulte"></div>
            <div class="s_round r_three p_absoulte"></div>
            <div class="s_round r_four p_absoulte"></div>
            <div class="s_round r_five p_absoulte"></div>
            <div class="s_round r_six p_absoulte"></div>
            <div class="s_round r_seven p_absoulte"></div>
            <div class="s_round r_eight p_absoulte"></div>
            <div class="s_round r_nine p_absoulte"></div>
            <div class="s_round r_ten p_absoulte"></div>
            <div class="s_round r_eleven p_absoulte"></div>
            <div class="intro">
                <div class="container custom_container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="w_portfolio_img">
                                <div class="round p_absoulte"></div>
                                <img src="{{ 'assets/img/home_three/odoo_applications.png'|theme }}" alt="" style="width:500px;heigth:5000px;">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="w_content_two">
                                <h2>Odoo ERP</h2>
                                <p>Odoo ERP cuenta con modulos administrativos y contables, con los cuales podras tener la indormacion importante de tu empresa en un solo lugar.</p>
                                <p>Ventas, compras, inventarios, contabilidad, facturacion electronica, manufactura, RH, ecommerce, punto de venta (Tienda y Restaurant), son algunos de los modulos con los que cuenta esta magnifica herramienta</p>
                                <a href="#" class="p_btn">Solicitar presupuesto</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>