==
<div class="section wave_two_section_six">
    <div class="t_first p_absoulte"><img class="layer layer2" data-depth="-0.20" src="{{ 'assets/img/home_three/clients_plan_bottom.png'|theme }}" alt=""></div>
    <div class="t_two p_absoulte"><img class="layer layer2" data-depth="0.20" src="{{ 'assets/img/home_three/clients_plan.png'|theme }}" alt=""></div>
    <div class="intro">
        <div class="container custom_container">
            <h2 class="s_section_title">CLIENTES</h2>
            <div class="sc_clients_logo_info">
                <a href="#" class="c_logo_item"><img src="{{ 'assets/img/clientes/AibeFruitsTestimonios.png'|theme }}" alt="" style="max-height: 50px;"></a>
                <a href="#" class="c_logo_item"><img src="{{ 'assets/img/clientes/apotex.png'|theme }}" alt="" style="max-height: 50px;"></a>
                <a href="#" class="c_logo_item"><img src="{{ 'assets/img/clientes/canto.jpg'|theme }}" alt="" style="max-height: 50px;"></a>
                <a href="#" class="c_logo_item"><img src="{{ 'assets/img/clientes/flexbeel.png'|theme }}" alt="" style="max-height: 50px;"></a>
                <a href="#" class="c_logo_item"><img src="{{ 'assets/img/clientes/inmsa.png'|theme }}" alt="" style="max-height: 50px;"></a>
                <a href="#" class="c_logo_item"><img src="{{ 'assets/img/clientes/solfort.jpg'|theme }}" alt="" style="max-height: 50px;"></a>
                <a href="#" class="c_logo_item"><img src="{{ 'assets/img/clientes/KnowledgeTransferLLC.png'|theme }}" alt="" style="max-height: 50px;"></a>
                <a href="#" class="c_logo_item"><img src="{{ 'assets/img/clientes/distintec.png'|theme }}" alt="" style="max-height: 50px;"></a>
                <a href="#" class="c_logo_item"><img src="{{ 'assets/img/clientes/mueblerias_alonso.jpeg'|theme }}" alt="" style="max-height: 50px;"></a>
                <a href="#" class="c_logo_item"><img src="{{ 'assets/img/clientes/cmillonario.png'|theme }}" alt="" style="max-height: 50px;"></a>
                <a href="#" class="c_logo_item"><img src="{{ 'assets/img/clientes/intresco.png'|theme }}" alt="" style="max-height: 50px;"></a>
            </div>
        </div>
    </div>
</div>