==
<div class="section wave_one_section_four wave_two_section_eight">
    <div class="bg-title">
        <div class="layer layer2" data-depth="-0.20">Que Mari</div>
    </div>
    <div class="t_first p_absoulte"><img class="layer layer2" data-depth="-0.20" src="{{'assets/img/home_three/pijom_2.png'|theme}}" alt=""></div>
    <div class="t_two p_absoulte"><img class="layer layer2" data-depth="0.20" src="{{'assets/img/home_three/clients_plan.png'|theme}}" alt=""></div>
    <div class="t_three p_absoulte"><img class="layer layer2" data-depth="-0.20" src="{{'assets/img/home_three/blue_plan.png'|theme}}" alt=""></div>
    <img class="dot_one p_absoulte" src="{{'assets/img/home_three/dot.png'|theme}}" alt="">
    <img class="dot_two p_absoulte" src="{{'assets/img/home_three/dot_eight.png'|theme}}" alt="">
    <div class="intro">
        {#<div class="container custom_container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="w_portfolio_img">
                        <div class="round p_absoulte"></div>
                        <img src="{{ 'assets/img/mapa.png'|theme }}" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="w_content_two">
                        <h2>Presencia</h2>
                        <p>Contamos con importante alianzas ubicadas estrategicamente en Mexico, Chile, Ecuador, Colombia, España y USA.</p>
                        <a href="#" class="p_btn">Solicitar presupuesto</a>
                    </div>
                </div>
            </div>
        </div>#}
    </div>
</div>