/*=============== contact_area css ================*/
.contact_area{
    padding-bottom: 100px;
}
.mapBox1{
    min-height: 500px;
    margin-top: -256px;
    z-index: 1;
    position: relative;
}

.contact_info{
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid #e5e5e5;
}
.contact_info_item{
    img{
        line-height: 42px;
        margin-bottom: 25px;
    }
    .pr_title{
        margin-bottom: 14px;
    }
    a{
        display: block;
        color: #777;
        &:hover{
            color:#7a51ed;
        }
    }
}

.contact_inner{
    padding-top: 80px;
    .w_content_two{
        h2{
            color: #101010;
            animation: fadeIn 0.5s both;
        }
        p{
            color: #777;
            animation: fadeIn 0.5s both;
        }
        ul{
            li{
                color: #101010;
            }
        }
    } 
    .contact_form_box .text_box input, .contact_form_box .text_box textarea{
        font-weight: 500;
        color: #101010;
        @include placeholder{
            color: #777;
        }
    }
    .g_hover{
        float: right;
    }
}
#success, #error {
    position: relative;
    top: 10px;
    right: 0;
    left: 0;
    display: none;
    font-weight: 600;

}

#success {
  color: lawngreen;
}
#error {
  color: orangered;
}
/*=============== contact_area css ================*/