/*============ shop area css ===========*/
.shop_tab{
    border-bottom: 1px solid #ececec;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.shop_menu_left{
    p{
        margin-bottom: 0;
    }
}
.shop_menu_right {
    .view-style{
        display: flex;
        padding-top: 5px;
        .list-style{
            a{
                font-size: 18px;
            }
        }
        a{
            font-size: 22px;
            color: #777;
            margin-right: 20px;
            display: inline-block;
            line-height: 22px;
        }
        .active{
            a{
                color: #6532e8;
            }
        }
    }
    .default_select{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        border: 1px solid #ececec;
        padding: 0px 20px;
        margin-left: 10px;
        h5{
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 0;
        }
        .selectpickers{
            border: 0px;
            padding-left: 8px;
            height: 38px;
            line-height: 38px;
            &:after{
                content: "\43";
                font-family: eleganticons;
                width: 8px;
                height: 8px;
                top: 48%;
                right: 4px;
                font-size: 18px;
                transform: rotate(0deg);
                transform-origin: center;
                border: 0px;
                line-height: 10px;
            }
            ul{
                right: 0;
                left: auto;
            }
        }
    }
}

.single_product_item{
    text-align: center;
    margin-bottom: 60px;
    .product_img{
        position: relative;
        img{
            transition: opacity 0.2s linear;
            max-width: 100%;
        }
        .hover_content{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            text-align: center;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s linear;
            a{
                width: 60px;
                height: 60px;
                font-size: 20px;
                text-align: center;
                background: #fff;
                box-shadow: 0px 10px 15px 0px rgba(0, 0, 29, 0.1);
                line-height: 62px;
                color: #6532e8;
                display: inline-block;
                transition: all 0.2s linear;
                &:hover{
                    background: #6532e8;
                    color: #fff;
                }
            }
        }
    }
    h4{
        font-size: 18px;
        font-weight: 500;
        margin-top: 28px;
        transition: color 0.2s linear;
        &:hover{
            color: #6532e8;
        }
    }
    .price{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        font-size: 16px;
        del{
            color: #777777;
            font-weight: 400;
            margin-left: 10px;
        }
        ins{
            text-decoration: none;
            font-weight: 600;
            color: #101010;
        }
    }
    &:hover{
        img{
            opacity: 0.5;
        }
        .hover_content{
            opacity: 1;
            visibility: visible;
            a{
                &:nth-child(1){
                    animation: fadeInUp 300ms ease-in-out;
                }
                &:nth-child(2){
                    animation: fadeInUp 500ms ease-in-out;
                }
            }
        }
    }
}

/*============== shop_list_area css ==============*/
.shop_list_area{
    .shop_page_number{
        margin-top: 80px;
    }
}
.pr_list_item{
    .pr_list_content{
        h3{
            font-size: 24px;
            font-weight: 600;
            display: inline-block;
            transition: color 0.2s linear;
        }
        .price{
            float: right;
            del{
                color: #777;
                font-size: 16px;
                margin-right: 10px;
            }
            ins{
                font-size: 24px;
                font-weight: 600;
                color: #101010;
                text-decoration: none;
            }
        }
        p{
            font-size: 16px;
            line-height: 30px;
            padding-top: 28px;
        }
        &:hover{
            h3{
                color: #6532e8;
            }
        }
    }
    & + .pr_list_item{
        margin-top: 30px;
    }
}
.pr_button{
    display: flex;
    padding-top: 15px;
    .cart_btn{
        font-size: 13px;
        font-weight: 600;
        color: #101010;
        text-transform: uppercase;
        background: transparent;
        border: 1px solid #d7d7d7;
        min-width: 200px;
        text-align: center;
        padding: 10px 20px;
        transition: all 0.2s linear;
        &:hover{
            border-color: #6532e8;
            background-image: linear-gradient( 40deg, rgb(113,63,247) 0%, rgb(56,12,224) 100%);
            color: #fff;
        }
    }
    a{
        display: block;
        width: 55px;
        height: 50px;
        font-size: 20px;
        color: #101010;
        border: 1px solid #d7d7d7;
        text-align: center;
        line-height: 50px;
        margin-left: 15px;
        transition: all 0.2s linear;
        &:hover{
            border-color: #6532e8;
            background: #6532e8;
            color: #fff;
        }
    }
}

.shop_page_number{
    text-align: center;
    margin-bottom: 0px;
    li{
        display: inline-block;
        margin: 0px 3px;
        .page-numbers{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #e7e7f6;
            font-size: 16px;
            line-height: 39px;
            font-weight: 300;
            color: #7b8a9e;
            text-align: center;
            display: block;
            transition: all 0.2s linear;
            &:hover{
                border-color: #5843e8;
                color: #5843e8;
            }
            &.current{
                background: #5843e8;
                border-color: #5843e8;
                color: #fff;
            }
        } 
    }
}
/*========= pr_sidebar css ============*/
.pr_sidebar{
    .widget_search{
        .search-form {
            background: #f3f4f9;
            input{
                background: transparent;
                border: 0px;
            }
            button{
                background: transparent;
                color: #777;
                font-size: 16px;
            }
        }
    }
}
.filter_slider_area {
    padding-top: 10px;
    .ui-slider {
        height: 6px;
        background: #dbe2e9;
        border: 0px;
        border-radius: 0px;

        .ui-slider-range {
            background: #9f7efd;
            border-radius: 0px;
        }

        .ui-slider-handle {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #5e2ced;
            border: 0px;
            margin-left: 0;
            top: -7px;

            &:focus {
                outline: none;
            }
        }
    }
    .filter_content {
        font-size: 16px;
        text-transform: capitalize;
        font-family: $pop;
        color: #101010;
        display: flex;
        margin-top: 30px;
        font-weight: 600;
        #amount {
            border: 0px;
            font-size: 16px;
            display: inline-block;
            outline: none;
            color: #7d7d7d;
            box-shadow: none;
            padding-left: 5px;
        }
    }
}
.widget_product{
    ul{
        li{
            .media{
                align-items: center;
                img{
                    margin-right: 25px;
                }
                .media-body{
                    h3{
                        font-size: 16px;
                        line-height: 22px;
                        font-weight: 500;
                        margin-bottom: 3px;
                        &:hover{
                            color: #6532e8;
                        }
                    }
                    .rate{
                        font-size: 16px;
                        color: #6532e8;
                        font-weight: 500;
                    }
                }
            }
            & + li{
                margin-top: 20px;
            }
        }
    }
}
.widget_categorie_two{
    ul{
        margin-bottom: 0;
        li{
            a{
                font-size: 16px;
                line-height: 20px;
                color: #777777;
                display: inline-block;
                position: relative;
                &:before{
                    content: "";
                    width: 0;
                    height: 1px;
                    background: #6532e8;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    transition: width 0.2s linear;
                }
                &:hover{
                    color: #6532e8;
                    &:before{
                        width: 100%;
                    }
                }
            }
            & + li{
                margin-top: 15px;
            }
        }
    }
}

/*============ product_details_area css =============*/
.product_details_area{}
.pr_details{
    ul{
        li{
            display: inline-block;
            font-size: 16px;
            color: #101010;
            & + li{
                &:before{
                    content: "";
                    width: 5px;
                    height: 2px;
                    display: inline-block;
                    background: #101010;
                    vertical-align: middle;
                    margin: 0px 5px 0px 3px;
                }
            }
        }
    }
    h2{
        font-weight: 700;
        font-size: 36px;
    }
    .ratting{
        font-size: 16px;
        .star-rating{
            display: inline-block;
            color: #ffbc08;
            margin-right: 5px;
            &:before{
                content: "";
                font-family: "themify";
            }
        }
        a{
            color: #777;
        }
    }
    .price{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin-top: 15px;
        ins{
            font-size: 36px;
            font-weight: 600;
            color: #6532e8;
            text-decoration: none;
        }
        del{
            font-size: 20px;
            color: #777;
            margin-left: 12px;
        }
    }
    p{
        line-height: 30px;
        padding-top: 52px;
        margin-bottom: 60px;
    }
    .pr_button{
        padding-top: 0;
        margin-left: 10px;
        a{
            margin-left: 10px;
        }
    }
    .product_meta{
        padding-top: 52px;
        li{
            font-size: 18px;
            color: #7d7d7d;
            display: block;
            a{
                color:#7d7d7d;
            }
            &:before{
                display: none;
            }
            span{
                color: #101010;
                padding-right: 4px;
            }
            & + li{
                margin-top: 12px;
            }
        }   
    }
}
.product-qty{
    display: inline-block;
    position: relative;
    .ar_top,.ar_down{
        position: absolute;
        right: 8px;
        background: transparent;
        border: 0px;
        color: #bebebe;
        font-size: 18px;
        padding-left: 0;
        padding-right: 0;
        line-height: 20px;
    }
    .ar_top{
        top: 8px;
    }
    .ar_down{
        bottom: 5px;
    }
    .manual-adjust{
        border: 1px solid #d7d7d7;
        background: transparent;
        width: 65px;
        height: 50px;
        color: #777;
        font-size: 20px;
        padding-left: 15px;
        @include placeholder{
            color: #777;
        }
    }
}
.pr_slider_thumb {
    margin-left: -5px;
    margin-right: -5px;
    padding-top: 10px;
    img{
        padding-left: 5px;
        padding-right: 5px;
        max-width: 100%;
        cursor: pointer;
    }
}

/*=========== product_description_area css ===========*/
.product_description_area{
    background: #f7f7f7;
    padding-bottom: 110px;
    .tab-content{
        padding-top: 80px;
        p{
            line-height: 30px;
            margin-bottom: 0;
            & + p{
                margin-top: 30px;
            }
        }
    }
}
.pr_tab{
    justify-content: center;
    .nav-item{
        margin-right: 40px;
        .nav-link{
            font-size: 16px;
            font-weight: 500;
            color: #181b31;
            border-radius: 0px;
            padding: 26px 0px;
            border: 0px;
            background: transparent;
            position: relative;
            transition: all 0.2s linear;
            &:before{
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                background: #6532e8;
                height: 2px;
                width: 0;
                transition: width 0.2s linear;
            }
            &.active,&:hover{
                color: #6532e8;
                &:before{
                    width: 100%;
                }
            }
        }
        &:last-child{
            margin-right: 0;
        }
    }
}

.aditional_info{
    max-width: 730px;
    margin: 0 auto;
    .shop_attributes{
        width: 100%;
        tr{
            border-left: 1px solid #efefef;
            border-right: 1px solid #efefef;
            th,td{
                padding:13px 30px;
                font-size: 16px;
                font-weight: 400;
            }
            th{
                color: #181b31;
            }
            td{
                text-align: right;
                color: #777;
            }
            &:nth-child(2n+1){
                background: #fff;
            }
        }
    }
}

.review_comment_info{
    max-width: 730px;
    margin: 0 auto;
    .c_title{
        font-weight: 600;
    }
    .p_comment_list {
        .comment_post {
            padding-bottom: 20px;
            .author_img{
                 width: 70px;
                height: 70px;
                border-radius: 50%;
                overflow: hidden;
            }
            .media-body{
                padding-right: 65px;
                h4{
                    font-size: 16px;
                    font-weight: 600;
                    margin-bottom: 2px;
                }
                .date{
                    font-size: 14px;
                    color: #7d7d7d;
                    margin-bottom: 5px;
                }
            }
        }
        .post_comment{
            & + .post_comment{
                padding-top: 30px;
            }
        }
    }
    .comment_box{
        .contact_form_box{
            .text_box{
                margin-bottom: 25px;
                input{
                    height: 55px;
                    background: #fff;
                    padding-left: 25px;
                    border: 0px;
                }
                textarea{
                    height: 140px;
                    background: #fff;
                    border: 0px;
                    padding-left: 25px;
                    padding-top: 15px;
                }
            }
        }
        .comment-form-rating{
            p{
                font-size: 16px;
                color: #181b31;
                .rating{
                    color: #dedede;
                    letter-spacing: 2.5px;
                    margin-left: 20px;
                    &:before{
                        content: "\e033\e033\e033\e033\e033";
                        font-family: eleganticons;
                    }
                }
            }
        }
        .p_btn{
            padding: 11px 40px 10px;
            margin-top: 32px;
        }
    }
}

/*=============== related_pr_slider  css ==============*/
.related_pr_slider{
    .slick-prev,.slick-next{
        width: 64px;
        height: 64px;
        background: #fff;
        box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.06);
        border-radius: 50%;
        z-index: 1;
        transition: all 0.2s linear;
        &:before{
            font-family: inherit;
            color: #181b31;
            opacity: 1;
            line-height: 0.2;
        }
        &:hover{
            background: #6532e8;
            &:before{
                color: #fff;
            }
        }
    }
    .slick-prev{
        left: -100px;
    }
    .slick-next{
        right: -100px;
    }
    .single_product_item{
        margin-bottom: 0;
    }
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/*========== checkout_area css =============*/
.checkout_area{
    padding: 100px 0px 70px;
    .c_title{
        font-weight: 600;
    }
}
.checkout_content{
    input,.selectpicker,textarea{
        border: 1px solid #d7d7d7;
        padding-left: 20px;
        font-size: 16px;
        height: 55px;
        width: 100%;
        margin-bottom: 30px;
        @include placeholder{
            color: #777777;
        }
    }
    .woocommerce-additional-fields{
        margin-top: 45px;
    }
    textarea{
        height: 165px;
        padding-top: 20px;
    }
    .selectpicker{
        color: #777777;
        line-height: 55px;
        &:after{
            border: 0px;
            content: "\43";
            color: #bebebe;
            font-family: eleganticons;
            transform: rotate(0);
            width: auto;
            height: auto;
            line-height: 10px;
            font-size: 18px;
            transition: all 0.2s linear;
            transform-origin: inherit;
        }
        &.open{
            &:after{
                transform: rotate(180deg);
                margin-top: -6px;
            }
        }
    }
}
.shiping_checkbox{
    margin-bottom: 60px;
    input{
        width: auto;
        margin-bottom: 0;
        display: none;
        &:checked{
            & + label{
                &:before{
                    border-color: #6532e8;
                }
                &:after{
                    opacity: 1;
                }
            }
        }
    }
    .l_text{
        font-size: 16px;
        color: #777;
        font-weight: 400;
        position: relative;
        cursor: pointer;
        &:before{
            content: "";
            width: 14px;
            height: 14px;
            border: 1px solid #d9d9d9;
            display: inline-block;
            border-radius: 2px;
            margin-right: 10px;
            transition: all 0.2s linear;
        }
        &:after{
            content: "\4e";
            font-family: eleganticons;
            position: absolute;
            left: 1px;
            color: #6532e8;
            top: -1px;
            font-size: 11px;
            opacity: 0;
            transition: all 0.2s linear;
        }
    }
}
.cart_total_box{
    padding-left: 50px;
}
.shop_table{
    width: 100%;
    li{
        &:last-child{
            .cart-subtotal{
                border-bottom: 0px;
            }
        }
        &.br{
            border-bottom: 1px solid #e6e8eb;
            padding-bottom: 10px;
        }
    }
    .cr_item{
        padding-bottom: 20px;
        font-size: 16px;
        color: #031440;
        .media{
            align-items: center;
            img{
                margin-right: 20px;
            }
            .media-body{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
        }
        .product-quantity{
            text-align: right;
        }
        &:last-child{
            padding-bottom: 30px;
        }
    }
    .cart-subtotal{
        font-size: 16px;
        color: #05143f;
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px dashed #e6e8eb;
        padding: 35px 0px;
        .a_name{
            font-weight: 400;
        }
        .red{
            color: #ff0000;
        }
        .green{
            color: #2ba81e;
        }
        .amount{
            text-align: right;
            a{
                display: block;
                color: #05143f;
                line-height: 20px;
                margin-bottom: 20px;
                span{
                    position: relative;
                    &:before{
                        content: "";
                        width: 100%;
                        height: 1px;
                        background: #05143f;
                        left: 0;
                        position: absolute;
                        bottom: 0;
                        display: block;
                    }
                }
            }
            #coupon_two{
                width: 250px;
                input,.selectpicker{
                    width: 100%;
                    border: 1px solid #d7d7d7;
                    height: 35px;
                    margin-bottom: 15px;
                    padding-left: 15px;
                    border-radius: 0px;
                    @include placeholder{
                        color: #7d7d7d;
                    }
                }
                .selectpicker{
                    color: #7d7d7d;
                    line-height: 35px;
                    &:after{
                        border: 0px;
                        content: "\43";
                        color: #bebebe;
                        font-family: eleganticons;
                        transform: rotate(0);
                        width: auto;
                        height: auto;
                        line-height: 10px;
                        font-size: 18px;
                        transition: all 0.2s linear;
                        transform-origin: inherit;
                    }
                    &.open{
                        &:after{
                            transform: rotate(180deg);
                            margin-top: -6px;
                        }
                    }
                }
                .g_hover{
                    padding: 0px 22px;
                    border: 0px;
                    width: auto;
                }
            }
        }
        &.calculation{
            padding-bottom: 20px;
        }
    }
}
.woocommerce-checkout-payment{
    h5{
        color: #2ba81e;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 15px;
        i{
            margin-right: 10px;
        }
    }
    .condition{
        margin-bottom: 18px;
        .l_text{
            color: #6a7c92;
            font-size: 14px;
            a{
                color: #6532e8;
            }
        }
    }
    .g_hover{
        width: 100%;
    }
}

/*============ cart_table css ============*/
.shopping_cart_area{
    .shop_table{
        li{
            &:first-child{
                .cart-subtotal{
                    padding-top: 0;
                }
            }
        }
        .cart-subtotal{
            padding-right: 30px;
        }
    } 
}
.cart_table{
    margin-bottom: 40px;
    thead{
        background: #f7f7f7;
        th{
            font-size: 16px;
            color: #05143f;
            font-weight: 600;
            padding: 15px;
            border: 0px;
            &.product-thumbnail{
                padding-left: 65px;
            }
            &.product-subtotal{
                padding-right: 30px;
                text-align: right;
            }
        }
    }
    tbody{
        td{
            vertical-align: middle;
            padding-top: 20px;
            padding-bottom: 20px;
            border-top: 0px;
            border-bottom: 1px solid #e6e8eb;
            .media{
                align-items: center;
                .media-left{
                    margin-right: 20px;
                }
                .remove{
                    color: #8b8b8b;
                    padding-left: 20px;
                    padding-right: 15px;
                    font-size: 16px;
                    &:hover{
                        color: #6532e8;
                    }
                }
                .media-body{
                    h5{
                        font-size: 16px;
                        font-weight: 500;
                        color: #031440;
                    }
                }
            }
            .product-qty{
                .manual-adjust{
                    height: 40px;
                }
                .ar_top,.ar_down{
                    line-height: 5px;
                }
                .ar_top{
                    top: 5px;
                }
                .ar_down{
                    bottom: 4px;
                }
            }
            &.price{
                font-size: 16px;
                color: #7d7d7d;
                ins{
                    text-decoration: none;
                }
            }
            .total{
                font-size: 16px;
                color: #7d7d7d; 
            }
            &:last-child{
                text-align: right;
                padding-right: 30px;
            }
        }
    }
}
.coupn_code{
    padding-left: 30px;
    padding-top: 15px;
    h5{
        font-size: 16px;
        color: #031440;
        font-weight: 500;
        margin-bottom: 20px;
        a{
            color: #6532e8;
            position: relative;
            line-height: 20px;
            display: inline-block;
            &:before{
                content: "";
                width: 100%;
                height: 1px;
                bottom: 0;
                left: 0;
                background: #6532e8;
                position: absolute;
            }
        }
    }
    .coupon{
        width: 365px;
        display: flex;
        .input_text{
            border: 1px solid #d7d7d7;
            padding-left: 25px;
            width: 275px;
            font-size: 14px;
            @include placeholder{
                color: #7d7d7d;
            }
        }
        .g_hover{
            padding: 11px 22px 10px; 
            border: 0px;
        }
    }
}